<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logfile"
                xsi:type="File"
                layout="${machinename} | ${date} | ${level} | ${message} | ${logger} | ${callsite} | ${exception:tostring}"
                fileName="C:\dotnetprojects\carrentalbackend\WebAPI\logs.txt" />

        <target name="sqldatabase"
                xsi:type="Database"
                connectionString="server=sinan; Database=carrentaldatabase; user id=sinand07;password=sinan123."
                commandText="INSERT INTO dbo.NLogs(MachineName, Logged, Level, Message,Logger, Callsite, Exception) 
				VALUES (@MachineName, @Logged, @Level, @Message,@Logger, @Callsite, @Exception)">
            <parameter name="@machineName" layout="${machinename}" />
            <parameter name="@logged" layout="${date}" />
            <parameter name="@level" layout="${level}" />
            <parameter name="@message" layout="${message}" />
            <parameter name="@logger" layout="${logger}" />
            <parameter name="@callsite" layout="${callsite}" />
            <parameter name="@exception" layout="${exception:tostring}" />
        </target>
    </targets>

    <rules>
        <logger name="FileLogger" minlevel="Debug" writeTo="logfile" />
        <logger name="DatabaseLogger" minlevel="Debug" writeTo="sqldatabase" />

    </rules>
</nlog>
<!--
  Script for creating the dbo.Log table.
      
  SET ANSI_NULLS ON
  SET QUOTED_IDENTIFIER ON
  CREATE TABLE [dbo].[Log] (
	  [Id] [int] IDENTITY(1,1) NOT NULL,
	  [MachineName] [nvarchar](50) NOT NULL,
	  [Logged] [datetime] NOT NULL,
	  [Level] [nvarchar](50) NOT NULL,
	  [Message] [nvarchar](max) NOT NULL,
	  [Logger] [nvarchar](250) NULL,
	  [Callsite] [nvarchar](max) NULL,
	  [Exception] [nvarchar](max) NULL,
    CONSTRAINT [PK_dbo.Log] PRIMARY KEY CLUSTERED ([Id] ASC)
      WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
  ) ON [PRIMARY]
  -->

<!--
 For reseting identity to 0	
DBCC CHECKIDENT ('TestTable', RESEED, 0)
GO
-->